.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 1px dashed #a0a0a0;
  padding: 15px;
  h1 {
    text-align: center;
  }
  ul {
    li {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      span {
        margin-right: 10px;
      }
      .rm {
        $color: red;
        background-color: $color;
        color: #fff;
        border: none;
        border-radius: 50%;
        transition: 0.3s all;
        font-size: 1rem;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background: darken($color, 20%);
        }
      }
    }
  }
}
.done {
  text-decoration: line-through;
}
